# Labs | week06 | day02 | SS

## Machines

In [84]:
# new machine will pack faster on the average than the old machine 
# Null hypothesis - There is no difference

In [85]:
df=pd.read_excel('/Users/AFROARC/Documents/GitHub/IronHackLabs/Week 6/AB_testing/machine.xls')

In [86]:
import pandas as pd
import statsmodels.api as sm
from statsmodels.formula.api import ols #ordinary least squares
import scipy

In [87]:
from scipy.stats import ttest_1samp
# this is a one tailed t test on one sample

In [88]:
df=pd.read_excel('/Users/AFROARC/Documents/GitHub/IronHackLabs/Week 6/AB_testing/machine.xls')

In [89]:
df

   New machine      Old machine
0         42.1             42.7
1         41.0             43.6
2         41.3             43.8
3         41.8             43.3
4         42.4             42.5
5         42.8             43.5
6         43.2             43.1
7         42.3             41.7
8         41.8             44.0
9         42.7             44.1

In [90]:
df.info();

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   New machine      10 non-null     float64
 1       Old machine  10 non-null     float64
dtypes: float64(2)
memory usage: 288.0 bytes

In [91]:
df.rename(columns={'    Old machine': 'old_machine',
                   'New machine': 'new_machine'},
          inplace=True, errors='raise')

In [92]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   new_machine  10 non-null     float64
 1   old_machine  10 non-null     float64
dtypes: float64(2)
memory usage: 288.0 bytes

In [93]:
new=df['new_machine']

In [94]:
old=df['old_machine']

In [95]:
test_t=scipy.stats.ttest_ind(old, new)

In [96]:
test_t

Ttest_indResult(statistic=3.3972307061176026, pvalue=0.0032111425007745158)

# ya esta

## student gpa

In [101]:
df2=pd.read_csv('/Users/AFROARC/Documents/GitHub/IronHackLabs/Week 6/AB_testing/student_gpa.txt')

In [102]:
df2

   Sophomores\t  Juniors
0     3.04\t        2.56
1     1.71\t        2.77
2     3.3\t          2.7
3        2.88\t        3
4     2.11\t        2.98
5    2.6\t          3.47
6     2.92\t        3.26
7     3.6\t          3.2
8     2.28\t        3.19
9     2.82\t        2.65
10       3.03\t        3
11    3.13\t        3.39
12    2.86\t        2.58
13                3.49\t
14                3.11\t
15                2.13\t
16                  3.27