In [1]:
import pandas as pd

In [7]:
df=pd.read_excel('/Users/AFROARC/Documents/GitHub/IronHackLabs/Week 6/geospatial/london_underground/2017:07LND_UNDG.xls')

In [11]:
df.head(20)

,number,station,2017entryWeekday,2017entrySaturday,2017entrySunday,2017exitWeekday,2017exitSaturday,2017exitSunday,2007tot,2016entryWeekday,2007entrySaturday,2007entrySunday,2007exitWeekday,2007exitSaturday,2007exitSunday,2007tot.1
0,NaN,NaN,253,52,59,253,52,59,NaN,253,52,59,253,52,59,NaN
1,Counts by station,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Annual,NaN,NaN,NaN,NaN,NaN,NaN,Annual
2,,NaN,Entry,Entry,Entry,Exit,Exit,Exit,Entry + Exit,Entry,Entry,Entry,Exit,Exit,Exit,Entry + Exit
3,Number,Station,2017entryWeekday,2017entrySaturday,Sunday,Weekday,Saturday,Sunday,million,Weekday,Saturday,Sunday,Weekday,Saturday,Sunday,million
4,500,Acton Town,9531,6716,4744,9382,6617,4785,6.040516,9205,6722,4427,8899,6320,4304,5.773625
5,502,Aldgate,15080,4397,3261,16023,5909,4230,8.84694,9887,2191,1484,10397,2587,1772,5.572412
6,503,Aldgate East,22327,16166,13323,21071,13893,11347,13.998292,12820,7040,5505,12271,6220,5000,7.657338
7,505,Alperton,4495,3279,2345,5081,3392,2445,3.05223,4611,3354,2433,4719,3450,2503,3.005522
8,506,Amersham,3848,1876,1232,4025,1797,1121,2.321692,4182,1709,1004,3938,1585,957,2.341347
9,507,Angel,30413,20944,13916,30099,22368,13832,19.198892,25812,21332,12051,25367,22245,11876,16.625984
10,508,Archway,15336,10701,7424,13956,9023,6816,9.276684,12752,8814,5608,12092,7089,5001,7.738419
11,509,Arnos Grove,7443,5868,3986,6732,5100,3745,4.61274,6844,5734,3375,6392,5449,3138,4.314491
12,510,Arsenal,4622,3692,2626,3929,3071,2581,2.822292,4243,4085,2255,3752,4439,2301,2.734787
13,511,Baker Street,47116,29088,22260,44913,27901,20754,28.784591,38663,25555,17573,37818,24929,16919,24.009889
14,512,Balham,22562,17441,10809,22199,15581,10678,14.30941,17607,13470,8116,17957,12687,8472,11.336548
15,513,Bank & Monument,112547,29906,17414,111709,29100,16333,61.796153,76119,14880,8593,78854,16752,8861,41.882819
16,501,Barbican,20680,7416,5149,20512,7702,5351,11.827212,16960,5535,3481,16968,5449,3363,9.558748
17,514,Barking,29410,19930,14113,28165,18712,13372,18.197474,20672,13856,9344,19993,13352,9042,12.787835
18,515,Barkingside,2723,1440,931,2661,1403,934,1.620023,1479,597,388,1485,629,385,0.859251
19,516,Barons Court,12188,7011,5009,10959,6051,4894,7.119692,11860,6182,4129,10502,4804,3828,6.698321