# IRIS

## imports.

In [20]:
import pymysql
from sqlalchemy import create_engine
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [21]:
df = pd.read_csv ('/Users/AFROARC/Documents/GitHub/Data Sets/iris_dirty.csv',
                 names=['sepal_length',
                        'sepal_width',
                        'petal_length',
                        'petal_width',
                        'class'
                       ],
                 header=None)

In [22]:
df.head()

   sepal_length  sepal_width  petal_length petal_width        class
0           5.1          3.5           1.4        2 mm  Iris-setosa
1           4.9          3.0           1.4        2 mm  Iris-setosa
2           4.7          3.2           1.3        2 mm  Iris-setosa
3           4.6          3.1           1.5        2 mm  Iris-setosa
4           5.0          3.6           1.4        2 mm  Iris-setosa

 NOTES: Observations
* sizes are in cm not mm
*
*
*

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151 entries, 0 to 150
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  151 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  151 non-null    float64
 3   petal_width   151 non-null    object
 4   class         151 non-null    object
dtypes: float64(3), object(2)
memory usage: 6.0+ KB

In [24]:
df[df['sepal_width'].isna()]

    sepal_length  sepal_width  petal_length petal_width            class
82           5.8          NaN           3.9       12 mm  Iris-versicolor

In [25]:
df['sepal_width'] = df['sepal_width'].fillna(df['sepal_width'].mean())

## Exploring petal width

In [30]:
df['petal_width'].value_counts()

2 mm     28
13 mm    13
18 mm    12
15 mm    12
14 mm     9
23 mm     8
10 mm     7
4 mm      7
3 mm      7
1 mm      6
21 mm     6
20 mm     6
12 mm     5
19 mm     5
16 mm     4
25 mm     3
22 mm     3
24 mm     3
11 mm     3
17 mm     2
6 mm      1
5 mm      1
Name: petal_width, dtype: int64

In [26]:
df['petal_width']

0       2 mm
1       2 mm
2       2 mm
3       2 mm
4       2 mm
       ...
146    23 mm
147    19 mm
148    20 mm
149    23 mm
150    18 mm
Name: petal_width, Length: 151, dtype: object

In [27]:
df['petal_width'].apply(lambda x: float(x.replace('mm', ''))/10)

0      0.2
1      0.2
2      0.2
3      0.2
4      0.2
      ...
146    2.3
147    1.9
148    2.0
149    2.3
150    1.8
Name: petal_width, Length: 151, dtype: float64

In [28]:
df.tail(2)

     sepal_length  sepal_width  petal_length petal_width           class
149           6.2          3.4           5.4       23 mm  Iris-virginica
150           5.9          3.0           5.1       18 mm  Iris-virginica

In [29]:
round(df.describe(),2)

       sepal_length  sepal_width  petal_length
count        151.00       151.00        151.00
mean           6.20         3.06          3.76
std            4.32         0.43          1.76
min            4.30         2.00          1.00
25%            5.10         2.80          1.60
50%            5.80         3.00          4.40
75%            6.40         3.30          5.10
max           58.00         4.40          6.90